<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              formControlName="imagePath"
              type="text"
              class="form-control"
              id="imagePath"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
         <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              formControlName="description"
              type="text"
              class="form-control"
              id="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            *ngFor="let ingredinetCtrl of getControls(); let i = index"
            [formGroupName]="i"
            style="margin-top: 10px"
            class="row">
            <div class="col-xs-8">
              <input
                formControlName="name"
                class="form-control"
                type="text">
            </div>
            <div class="col-xs-2">
              <input
                formControlName="amount"
                class="form-control"
                type="number">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" (click)="onDeleteIngredient(i)">x</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
