<form>
  <div class="row">
    <div class="col">
      <input class="form-control"
             type="text"
             placeholder="Tittle"
             name="title"
             [(ngModel)]="title">
    </div>
    <div class="col">
      <input class="form-control"
             type="text"
             placeholder="Author"
             name="author"
             [(ngModel)]="author"
             >
    </div>
    <div class="col">
      <input class="form-control"
             type="text"
             placeholder="Image src"
             name="imagePath"
             [(ngModel)]="imagePath">
    </div>
    <div class="col">
      <button class="btn btn-outline-info" (click)="onSearch()"> Go to Search</button>
    </div>
  </div>
  <button class="btn btn-success mt-2" (click)="onSaveBook()">Save Book</button>
</form>

