  <div class="infocard">
    <h2> {{title}}</h2>
    <p>My Sample Text</p>
    <p>My Info:</p>
    <div class="images">
      <img src="{{ImgUrl}}">
    </div>
  </div>
  <button class="btn btn-primary"
          [disabled]="!disable"
          (click)="createServer($event)">Add Server</button>
  <p>{{ isServer }}</p>
  <input class=" btn-primary"
         type="text"
         [(ngModel)]="serverName"
         (mouseover)="onMousecheck($event)"
          (mouseleave)="mouseLeave($event)">
  <p>{{ mouseOn }}</p>


